body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
 body { background:#fff; color:#555; font-size:14px; font-family: "微软雅黑", "黑体", sans-serif; }
 td,th,caption { font-size:14px; }
 h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
 address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
 a {  text-decoration:none; }
 a:hover { text-decoration:none; }
 img { border:none; }
 ol,ul,li { list-style:none; }
 input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
 table { border-collapse:collapse; }
 html {overflow-y: scroll;} 

 .clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
 .clearfix { *zoom:1; }
body{
	position:relative;
}
 .container{
 	width:1000px;
 	margin:0 auto;
 }

 .activity-main{
 	width:100%;
 	height:600px;

 }
 .main-content{
 	width:100%;
 	position:relative;
 }
 .main-content img{
 	width:100%;
 	display:block;
 	z-index:-1;
 }
 .main-content p,.main-content>div{
 	background:rgba(0,0,0,0.6);
 	color:white;
 	/* filter:alpha(Opacity=60);
 	-moz-opacity:0.6;
 	opacity:0.6; */
 	z-index:1;
 }
 .main-content-summary{
 	width:290px;
 	height:390px;
 	position: absolute;
 	top:0;
 	right:0;
 	padding:40px;
 	padding-top: 0;
 	font-size:16px;
 	letter-spacing:3px;
 	line-height: 30px;
 }
 .main-content-summary h1{
 	width:100%;
 	height:60px;
 	line-height: 60px;
 	font-size: 24px;
 	text-align: center;
 }
  .main-content-summary>div{
  	height:330px;
  	overflow: hidden;
  }
 .main-content-information{
 	width:370px;
 	height:80px;
 	position: absolute;
 	bottom:0;
 	right:0;
 	padding-top:30px;
 	text-align:center;
 	font-size:18px;
 	letter-spacing: 4px;
 	line-height:30px;
 }
 .main-buy{
 	height:40px;
 	//float:right;
 	width:100%;
 }
 .main-buy a{
 	display:block;
 	//float:left;
 	float:right;
 }
 .main-buy>div{
 	width:630px;
 	height:40px;
 	float:left;
 	position: relative;
 }
 a.main-buy-vip{
 	//width:0px;
 	overflow: hidden;
 	//position: absolute;
 	height:40px;
 	//right:0;
 	//bottom: 0;
 }
 .main-buy-vip p,.main-buy-vip img{
	float:left;
	display:block;
	width:0;
 }
 .main-buy-vip p{
	//display: none;
	overflow: hidden;
 	height:40px;
 	line-height: 40px;
 	color:black;
 	font-size:18px;
 	letter-spacing: 4px;
 	position:absolute;
 	right:63px;
 	bottom:0;
 }
 .main-buy-vip img{
 	margin: 5px 20px;
 	position:absolute;
 	height:26px;
 	right:0;
 	bottom:0;
 }
 .main-buy-now{
 	background:rgb(246,125,21);
 	width:370px;
 	font-size:18px;
 	text-align: center;
 	line-height: 40px;
 	color:white;
 }

 .activity-related{
 	width:100%;
 	margin-bottom:110px;
 }
 .activity-related>h1{
 	width:100%;
 	font-size:20px;
 	text-align:center;
 	margin-top:115px;
 	margin-bottom:20px;
 	color:#333;
 	letter-spacing:6px;
 }
.activity-related-main{
	width:100%;
}
.activity-related-main>div{
	width:33.3%;
	float:left;
	position: relative;
	//height:178px;
}
.activity-more-center>div{
	margin:0 auto;
}
.activity-more-right>div{
	float:right;
}
.activity-more{
	position: relative;
	background: url(../images/activity-white.png);
	/*  -webkit-box-shadow:0 0 15px 5px rgb(241, 241, 241);  
	 	-moz-box-shadow:0 0 15px 5px  rgb(241, 241, 241);  
	 	box-shadow:0 0 15px 5px  rgb(241, 241, 241); */
	width:311px;
	height:138px;
	padding-top:40px;
}
.activity-more img{
	display:block;
	margin:0 auto;
}
.activity-more p,.activity-more h1{
	width:100%;
	height:20px;
	line-height: 20px;
	letter-spacing: 3px;
	text-align: center;
	color:rgb(246,124,21);
}
.act-change{
	width:100%;
	overflow:hidden;
	height:152px;
	position:absolute;
	top:5px;
	}
.activity-mouseover-img{
	width:100%;
	height:auto;
	position: absolute;
	//left:5px;
	visibility: hidden;
	z-index: 2;
	display:block;
	//margin:15px auto;
}
.activity-more a{
	visibility: hidden;
	display:block;
	width:100%;
	height:30px;
	line-height: 30px;
	text-align:center;
	z-index:4;
	position: absolute;
	bottom:0;
	background:black;
	color:white;
	font-size:16px;
	letter-spacing:4px;
}
.return-top{
	z-index:3;
	display:block;
	cursor:pointer;
	position: fixed;
}
@media screen and (min-width:1601px){
	.container{
		width:1405px;
	}
	.main-content-summary{
		width:420px;
		height:545px;
		padding:50px;
		padding-top: 0;
		font-size:18px;
		line-height:35px;
	}
	.main-content-summary h1{
		font-size: 26px;
	}
	.main-content-summary>div{
		height:495px;
	}
	.main-content-information{
		width:520px;
		height:100px;
		line-height: 35px;
		padding-top:50px;
		font-size:20px;
	}
	.main-buy-now{
		width:520px;
	}
	.main-buy>div{
		width:885px;
	}
	.activity-related>h1{
		margin-top:400px;
		margin-bottom:30px;
		font-size: 24px;
	}
	.activity-more{
		width:430px;
		height:190px;
		padding-top:60px;
		background-size:430px 220px;
		//注意此处需要做IE兼容
	}
	.activity-more h1,.activity-more p{
		height:25px;
		line-height: 25px;
		font-size: 16px;
		word-spacing:5px;
	}
	.act-change{
		height:214px;
	}
	.activity-more a{
		height:40px;
		line-height:40px;
		font-size:18px;
	}
}
@media screen and (max-width:1100px){
	.container{
		width:900px;
	}
	.main-content-summary{
		width:283px;
		height:375px;
		padding:25px;
		padding-top: 0;
		font-size:15px;
		line-height:25px;
	}
	.main-content-summary h1{
		height:50px;
		line-height: 50px;
		font-size:22px;
	}
	.main-content-summary>div{
		height:325px;
	}
	.main-content-information{
		width:333px;
		height:70px;
		line-height: 25px;
		padding-top:20px;
		font-size: 16px;
	}
	.main-buy-now{
		width:333px;
	}
	.main-buy>div{
		width:567px;
	}
	.activity-more{
		width:280px;
		height:124px;
		background-size:280px auto;
	}
	.act-change{
		height:136px;
	}
	.return-top{
		width:45px;
		height:auto;
	}
}



